.simulation {
    display: flex;
    padding: 0;
    margin: 0;
}

.component-item {
    list-style: none;
    flex: 0 0 100px;
    width: 100px;
    max-width: 100px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.component {
    width: 100px;
    height: 100px;
}

.Pump {
    background-image: url('../Sprites/motor.png');
    background-size: cover;
    background-position: center;
}


.Pipe {
    height: 30px;
    margin: 35px 0;
}


.PressureGauge {
    background-image: url('../Sprites/pressuregauge.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.Resistance {
    background-image: url('../Sprites/resistance.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Tank {
    background-image: url('../Sprites/tank.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.label {
    font-size: 13px;
}
