@using ASPdotnetMVCHydraSim.Domain.Components
<link href="~/css/Simulation.css" rel="stylesheet" />

<ul class="simulation">
    @foreach (var component in Model)
    {
        if (component is Pipe pipe)
        {
            var color = pipe.GetPipeColor((int)ViewBag.MaxPressure);

            <li class="component-item">
                <div class="component Pipe"
                     style="background-color:@color">
                </div>
            </li>
        }
        else
        {
            <li class="component-item">
                <div class="component @component.GetType().Name"><div class="label">@component.GetInfo()</div> </div>
            </li>
        }
    }
</ul>




@* <ul class="simulation">
    @foreach (var result in Model) {
    <li class="component-item"> <div class="component @result"></div> <div class="label">@result</div> </li>
    }
</ul> *@