@{
    ViewData["Title"] = "Home";
}
<ul>
    <a asp-controller="Simulation"
           asp-action="Run"
           asp-route-id="1"
           class="btn btn-primary">
        Simulatie 1
    </a>

    <a asp-controller="Simulation"
           asp-action="Run"
           asp-route-id="2"
           class="btn btn-secondary">
        Simulatie 2
    </a>




</ul>