@{
    ViewData["Title"] = "Library";
}

<link rel="stylesheet" href="~/css/Library.css" asp-append-version="true" />

<div class="grid-container">
    <a asp-controller="Simulation"asp-action="Run"asp-route-id="0">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Pump Simulation</h3>
            <p>Simuleer een enkel pomp-systeem met druk en flow.</p>
        </div>
    </a>
    <a asp-controller="Simulation" asp-action="Run" asp-route-id="1">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Pump Simulation</h3>
            <p>Simuleer een enkel pomp-systeem met druk en flow.</p>
        </div>
    </a>
    <a asp-controller="Simulation" asp-action="Run" asp-route-id="2">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Pump Simulation</h3>
            <p>Simuleer een enkel pomp-systeem met druk en flow.</p>
        </div>
    </a>
    <a asp-controller="Simulation" asp-action="Run" asp-route-id="3">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Pump Simulation</h3>
            <p>Simuleer een enkel pomp-systeem met druk en flow.</p>
        </div>
    </a>
    <a asp-controller="Simulation" asp-action="Run" asp-route-id="4">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Pump Simulation</h3>
            <p>Simuleer een enkel pomp-systeem met druk en flow.</p>
        </div>
    </a>
</div>