@{
    ViewData["Title"] = "Library";
}

<link rel="stylesheet" href="~/css/Library.css" asp-append-version="true" />

<div class="grid-container">
    <a asp-controller="Simulation"asp-action="Run"asp-route-id="0">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Pressure Drops in Series Circuits</h3>
            <p>When several hydraulic components are connected in series, and each component adds some resistance to flow, what effect does that have on the upstream pressure? The answer is surprising to some people, but it's actually very simple.</p>
        </div>
    </a>
    <a asp-controller="Simulation" asp-action="Run" asp-route-id="1">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Direct Acting Relief Valve</h3>
            <p>This style of relief valve has only one poppet and one spring. It might seem nice and simple, but there is a downside to that simplicity.</p>
        </div>
    </a>
    <a asp-controller="Simulation" asp-action="Run" asp-route-id="2">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Balanced, Pilot Operated Relief Valve</h3>
            <p>we cover the features and benefits of the Balanced, Pilot Operated Relief Valve. This valve is a little more complicated than a simple Direct Acting Relief Valve.</p>
        </div>
    </a>
    <a asp-controller="Simulation" asp-action="Run" asp-route-id="3">
        <div class="grid-item">
            <img src="/images/pump.png"/>
            <h3>Pressure Compensated Flow Control</h3>
            <p>This valve has a fairly simple design, and it produces a simple effect, but how the effect happens is quite fascinating.</p>
        </div>
    </a>
</div>